
$passion: 'Passion One', cursive;
$oswald: 'Oswald', sans-serif;

/*******************
///Basics
********************/
p {
	font: 100% $oswald;
}

h1, h2, h3, h4, h5, h6 {
	font: 100% $passion;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

.center {
	margin: 0 auto;
}

body {
	min-height: 500px;
}

.content-block
{
	padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
}

.top{
	padding: 50px 0 0 0;
}

.success {
	color: #095;
}
.error {
	color: #d44950; 
}

/*******************
///Button
********************/
.btn {
	margin: 4px 0 0 0;
}

.btn-primary {
    color: #357ebd;
    background-color: initial;
    border-color: #357ebd;
    padding: 9px 12px;
}
.btn-primary:hover {
    background-color: rgb(60, 141, 212);
}

/*******************
///Header
********************/
#logo {
    text-align: center;
	padding: 15px 0 0 0;
}
#logo a {
    font-size: 55px;
    text-decoration: none;
    color: #000;
}

/*******************
///Images
********************/
.headphones {
    height: 180px;
}

/*******************
///Pages
********************/
#intro {

}

/*******************
///Animations
********************/
.ng-enter       { z-index: 8888; }
.ng-leave       { z-index: 9999; }
.page.ng-enter {
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	opacity: 0;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.page.ng-enter.ngenter-active {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.page.ng-leave {
	-webkit-transition: 0.3s ease all;
	-moz-transition: 0.3s ease all;
	-ms-transition: 0.3s ease all;
	-o-transition: 0.3s ease all;
	transition: 0.3s ease all;
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.page.ng-enter.ng-leave-active {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	opacity: 0; 
}
