<div id="intro" class="container top">
	<div class="row">
		<div class="col-md-6">
			<form class="well" ng-submit="saveContact()">
				<div class="form-group">
					<label>Title*</label>
					<input type="text" class="form-control" name="name" ng-model="newcontact.name" required/>
				</div>
				<div class="form-group">
					<label>Responsibilities</label>
					<input type="text" class="form-control" name="email" ng-model="newcontact.email" />
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" class="form-control" name="phone" ng-model="newcontact.phone" />
				</div>
				<br/>
				<input type="hidden" ng-model="newcontact.id" />
				<input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
				<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
			</form>
		</div>
		<div class="col-md-6 content-block">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Title</th>
						<th>Responsibilities</th>
						<th>Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-hide="!contacts.length" ng-repeat="contact in contacts">
						<td>{{ contact.name }}</td>
						<td>{{ contact.email }}</td>
						<td>{{ contact.phone }}</td>
						<td> <a href="javascript:void(0)" ng-click="edit(contact.id)"><i class="fa fa-pencil fa-lg success"></i></a><!--<a href="javascript:void(0)" ng-click="duplicate(contact.id)">dupe</a> --> &nbsp;<a href="javascript:void(0)" ng-click="delete(contact.id)"><i class="fa fa-trash fa-lg error"></i></a>

						</td>
					</tr>
					<p ng-show="!contacts.length" class="error">Create jobs or Clear cache to see list. [command + shift + R]</p>
				</tbody>
			</table>
		</div>
	</div>
</div>